$warning_color: #ff9f43;
.capslock-warning {
  border-color: $warning_color !important;
  background-image: url(../images/icons/warning-triangle-svgrepo-com.svg) !important;
  background-repeat: no-repeat !important;
  background-position: right calc(0.3625em + 0.2855rem) center !important;
  background-size: calc(0.725em + 0.571rem) calc(0.725em + 0.571rem) !important;
}
.capslock-warning-error {
  font-size: 12px !important;
  color: $warning_color !important;
}
